body {
  background-color: gainsboro;
}

.mm {
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  overflow: hidden;
  top: 0px !important;
  position: fixed;
  width: 100%;
}

.root-list {
  background-color: yellow;
  margin-top: 8%;
  margin-right: 80%;
}
